<?xml version="1.0" encoding="utf-8"?>
     <configuration>
     <system.webServer>
       <handlers>
        <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Publish\addonServicioweb\env\Scripts\python.exe|C:\Publish\addonServicioweb\env\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
       </handlers>
        <httpRedirect enabled="false" destination="" childOnly="true" />
     </system.webServer>
     <appSettings>
       <!-- Required settings -->
       <add key="WSGI_HANDLER" value="app.app" />
       <add key="PYTHONPATH" value="C:\Publish\addonServicioweb" />
     </appSettings>
     <system.web>
        <customErrors mode="Off" />
      </system.web>
    </configuration>