{% extends "menu.html" %} {% block title %} Crear OT Seguridad - IPL {% endblock
%} {% block content %}
<div
  class="d-flex justify-content-between align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <button
    type="button"
    class="btn btn-dark d-lg-none me-2"
    data-toggle="modal"
    data-target="#sidebarModal"
  >
    <i class="fas fa-bars"></i>
  </button>
  <h1 class="h2 mb-0 flex-grow-1">Flash Report</h1>
</div>

<div class="container mt-4">
  <!-- IMPORTANTE: usar el MISMO id para aprovechar toda la lógica de script.js -->
  <form
    id="ordenTrabajoForm"
    data-tipo="seguridad"
    method="post"
    action="javascript:void(0);"
  >
    <!-- Usuario de Creación de OT -->
    <div class="form-group">
      <label for="usuarioCreacion">Usuario que elaboro Flash Report:</label>
      <input
        type="text"
        class="form-control"
        id="usuarioCreacion"
        name="usuarioCreacion"
        value="{{ session['username'] }}"
        readonly
      />
    </div>

    <div class="form-group">
      <label for="serie">Sucursal:</label>

      {% if session['perfil'] == 4 %}
      <!-- Dropdown para usuarios de seguridad -->
      <select class="form-control" id="serie" name="serie" required>
        <option value="">-- Seleccione una sucursal --</option>
        <option value="87">AGS</option>
        <option value="82">CLY</option>
        <option value="88">GDL</option>
        <option value="89">IRA</option>
        <option value="83">MEX</option>
        <option value="85">MTY</option>
        <option value="86">QRO</option>
        <option value="90">SLP</option>
        <option value="84">TOL</option>
        <option value="374">PUE</option>
      </select>
      {% else %}
      <!-- Texto fijo para otros perfiles -->
      <input
        type="text"
        class="form-control"
        value="{% if session['sucursal'] == '87' %}AGS{% 
              elif session['sucursal'] == '82' %}CLY{% 
              elif session['sucursal'] == '88' %}GDL{% 
              elif session['sucursal'] == '89' %}IRA{% 
              elif session['sucursal'] == '83' %}MEX{% 
              elif session['sucursal'] == '85' %}MTY{% 
              elif session['sucursal'] == '86' %}QRO{% 
              elif session['sucursal'] == '90' %}SLP{% 
              elif session['sucursal'] == '84' %}TOL{% 
              elif session['sucursal'] == '374' %}PUE{% 
              endif %}"
        readonly
      />
      <input type="hidden" name="serie" value="{{ session['sucursal'] }}" />
      {% endif %}
    </div>

    <!-- Fecha Inicio -->
    <div class="form-group">
      <label for="fechaInicio">Fecha:</label>
      <input
        type="text"
        class="form-control"
        id="fechaInicio"
        name="fechaInicio"
        placeholder="dd/mm"
        maxlength="5"
      />
    </div>

    <!-- Hora Inicio de Trabajo -->
    <div class="form-group">
      <label for="horaInicioTrabajo">Hora:</label>
      <input
        type="time"
        class="form-control"
        id="horaInicioTrabajo"
        name="horaInicioTrabajo"
      />
    </div>

    <!-- Severidad -->
    <div class="form-group">
      <label for="U_Severidad">Severidad:</label>
      <select
        class="form-control severidad-select"
        id="U_Severidad"
        name="U_Severidad"
        required
      >
        <option
          value=""
          data-color="#ffffff"
          style="background-color: #ffffff; color: black"
        >
          -- Seleccione una severidad --
        </option>
        <option
          value="Menor"
          data-color="#00b050"
          style="background-color: #00b050; color: white"
        >
          Menor (sin daños materiales ni incapacidad)
        </option>
        <option
          value="Moderada"
          data-color="#ffff00"
          style="background-color: #ffff00; color: black"
        >
          Moderada (daños materiales leves e incapacidad)
        </option>
        <option
          value="Critica"
          data-color="#ffc000"
          style="background-color: #ffc000; color: black"
        >
          Crítica (daños materiales graves e incapacidad de mas de 3 dias)
        </option>
        <option
          value="Fatal"
          data-color="#ff0000"
          style="background-color: #ff0000; color: white"
        >
          Fatal (fatalidad o incapacidad permanente o total)
        </option>
      </select>
    </div>

    <!-- Código del Cliente -->
    <div class="form-group position-relative">
      <label for="codigoCliente">Lugar del Suceso (Cliente):</label>
      <input
        type="text"
        class="form-control"
        id="codigoCliente"
        name="codigoCliente"
        oninput="buscarClientes()"
        autocomplete="off"
      />
      <div
        id="dropdownClientes"
        class="dropdown-menu"
        style="display: none; position: absolute; z-index: 1000; width: 100%"
      ></div>
    </div>

    <!-- Nombre del Cliente -->
    <div class="form-group">
      <label for="nombreCliente">Nombre del Lugar del Suceso:</label>
      <input
        type="text"
        class="form-control"
        id="nombreCliente"
        name="nombreCliente"
        readonly
      />
    </div>

    <!-- Area -->
    <div class="form-group">
      <label for="areaTrabajo">Area del Suceso :</label>
      <input
        type="text"
        class="form-control"
        id="areaTrabajo"
        name="areaTrabajo"
      />
    </div>

    <!-- Trabajo Realizado -->
    <div class="form-group">
      <label for="trabajoRealizado">Descripción del Suceso:</label>
      <textarea
        class="form-control"
        id="trabajoRealizado"
        name="trabajoRealizado"
        rows="4"
      ></textarea>
    </div>

    <!-- Descripción de la Falla -->
    <div class="form-group">
      <label for="descripcionFalla">Posible Causa:</label>
      <textarea
        class="form-control"
        id="descripcionFalla"
        name="descripcionFalla"
        rows="4"
      ></textarea>
    </div>

    <!-- Acciones para atender la situación -->
    <div class="form-group">
      <label for="accionesSituacion"
        >Acciones realizadas para atender la situación:</label
      >
      <textarea
        class="form-control"
        id="accionesSituacion"
        name="accionesSituacion"
        rows="4"
      ></textarea>
    </div>

    <!-- Plan de acción -->
    <div class="form-group">
      <label for="planAccion">Plan de acción:</label>
      <textarea
        class="form-control"
        id="planAccion"
        name="planAccion"
        rows="4"
      ></textarea>
    </div>

    <!-- Lecciones aprendidas -->
    <div class="form-group">
      <label for="leccionesAprendidas">Lecciones aprendidas:</label>
      <textarea
        class="form-control"
        id="leccionesAprendidas"
        name="leccionesAprendidas"
        rows="4"
      ></textarea>
    </div>

    <!-- Costo aproximado -->
    <div class="form-group">
      <label for="costoAproximado">Costo aproximado:</label>
      <input
        type="text"
        class="form-control"
        id="costoAproximado"
        name="costoAproximado"
        placeholder="Ingrese el costo en pesos"
      />
    </div>

    <!-- Realizó Trabajo (con misma búsqueda de empleados y validación de RoleID -2) -->
    <div class="form-group position-relative">
      <label for="realizoTrabajo">Persona Involucrada:</label>
      <input
        type="text"
        class="form-control"
        id="realizoTrabajo"
        oninput="buscarEmpleadoConDebounce('realizoTrabajo')"
        autocomplete="off"
      />
      <input
        type="hidden"
        id="realizoTrabajoEmployeeID"
        name="realizoTrabajoEmployeeID"
      />
      <input
        type="hidden"
        id="realizoTrabajoRoleID"
        name="realizoTrabajoRoleID"
      />
      <div
        id="dropdownRealizoTrabajo"
        class="dropdown-menu"
        style="display: none; position: absolute; z-index: 1000; width: 100%"
      ></div>
    </div>

    <!-- Revisó Trabajo -->
    <div class="form-group position-relative">
      <label for="revisoTrabajo">Nombre del Supervisor:</label>
      <input
        type="text"
        class="form-control"
        id="revisoTrabajo"
        name="revisoTrabajo"
        oninput="buscarEmpleadoConDebounce('revisoTrabajo')"
        autocomplete="off"
      />
      <input
        type="hidden"
        id="revisoTrabajoEmployeeID"
        name="revisoTrabajoEmployeeID"
      />
      <div
        id="dropdownRevisoTrabajo"
        class="dropdown-menu"
        style="display: none; position: absolute; z-index: 1000; width: 100%"
      ></div>
    </div>

    <!-- Botones -->
    <button type="submit" id="guardarButton" class="btn btn-primary">
      Guardar
    </button>
    <button type="button" id="imprimirButton" class="btn btn-secondary ms-2">
      Imprimir
    </button>
  </form>
</div>
{% endblock %}
